@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

form {
  align-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

input {
  border-radius: 5px;
  display: block;
  min-width: 200px;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  background: #fff;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

.title-container {
  height: 90vh;
  margin: 2em;
  /* background: url("bg.jpg") center center no-repeat; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(11, 3, 82);
}

.title-container__title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title-container__subtitle {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-container {
  background-color: #aaa;
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border: solid 1px #aaa;
  width: 30%;
  padding: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 15px;
}

input[type="text"] { 
    outline: none;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 1em;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
} 

button:active {
  outline: none;
}

.weather__info {
  padding: 1em;
  margin: 0 auto;
}

.weather__key {
  color: #111;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #111;
  font-weight: 200;
}

.weather__error {
  color: #111;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

.weather-p {
  margin: 0.5em;
  font-size: 1em;
  font-weight: 900;
  color: #333;
}

.weather-t {
  padding-left: 1em;
  font-weight: 500;
  color: #009999;
}

.weather-error {
  color: crimson;
}